

.wrapperING {
    z-index: 0;
    color: white;
    box-shadow: inset 1px 1px 3px #060505,
    inset -5px -5px 3px #2d2c2c;
    margin-left: 3380px;
    height: 1956px;
    width: 1258px;
    background: #24242a6b;
    border-radius: 40px;   
}

.ulWrappe{

}
.imagUrl{
    margin-left: -7px;
    width: 190px;
    height: 190px;
    margin-top: -15px;
  }

.imageIngredient {
    margin-left: 932px;
    width: 1083px;
    height: 1083px;
    background: #0000002e;
    border-radius: 50%;
    margin-top: -365px;
    border: 1px solid white;
}

.ingredientsAdd {
    font-size: 30px;
    color: white;
    margin-left: 2955px;
    margin-top: -1519px;
    height: 721px;
    width: 793px;
    background: transparent;
    border-radius: 40px;
    overflow: auto;
}

.ingredientsADD>h1 {
    margin-left: 10px;
}


.detailsAdd {
    font-size: 30px;
    color: white;
    margin-left: 2955px;
    margin-top: -1405px;
    height: 769px;
    width: 793px;
    background: transparent;
    border-radius: 40px;
    overflow: auto;
}

.detailsADD>h1 {
    margin-left: 10px;
    border-bottom: #b2acac;
}

.buttn {
   
    color: white;
    background: #24242a6b;
    position: relative;
    width: 304px;
    height: 101px;
    border-radius: 25px;
    margin-top: 252px;
    font-size: 50px;
}

.buttn:hover {
    background: rgba(119, 117, 117, 0.187);
    color: white;
}

.Vitamine{
    margin-left: 10px;
    margin-top: 10px;
    width: 207px;
    height: 180px;
    background: #24242a6b;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding-top: 36px;
    font-size: 120px;
    box-shadow: inset 5px 5px 3px #060505, inset -5px -5px 3px #2d2c2c;
}

.tableVitamine {
    box-shadow: inset 5px 5px 3px #060505,
            inset -5px -5px 3px #2d2c2c;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1180px;
    height: 508px;
    background: transparent;
    overflow: auto;
    border-radius: 23px;
    margin-left: 29px;
    /* margin-top: 1486px; */
    position: relative;
    top: 70%;
}

.listBTN{
    margin-left: 3500px;
    display: inline-flex;
    margin-top: 1050px;
}

.btnADD{
    background: transparent;
    width: 130px;
    height: 127px;
    border: transparent;
    border-radius: 50%;

}
.btnADD:hover{
    background: #a19d25;
}
.btnADD img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tabIngli{
padding: 0px;
margin-left: -10px;
}


.tableIngTitle {
    margin-top: -102px;
    font-size: 65px;
}

.titleRecette {
    margin-top: -2070px;
    margin-left: 857px;
    background: white;
    width: 1277px;
    height: 110px;
    font-size: 74px;
    border-radius: 36px;
    padding-top: 17px;
    color: white;
    text-align: center;
    background: #000000bd;
    box-shadow: -10px 10px 25px #2b292a, 10px -10px 25px #433f42;
}

.addSteps {
    position: relative;
    display: inline-flex;
    width: 1203px;
    height: 154px;
    background: transparent;
    /* tab-size: inherit; */
    border-radius: 25px;
    margin-left: 16px;
}

.textVt {
    color: white;
    position: relative;
    margin-left: 9%;
    font-size: 60px;
    width: 70%;
    border-radius: 21px;
    background: transparent;
    height: 94%;
}

.step {
    box-shadow: inset 1px 1px 3px #060505, inset -5px -5px 3px #2d2c2c;
    text-align: center;
    display: grid;
    margin-left: 10px;
    font-size: 60px;
    width: 16%;
    border-radius: 21px;
    color: white;
    background: transparent;
    height: 94%;
    margin-top: 5px;
}

.step>span {
    font-size: 40px;
}

.step>input { 
    color: white;
    background: transparent;
    width: 93%;
    height: 109%;
    font-size: 55px;
    margin-top: -14px;
    border-radius: 11px;
}

.btnAdd {
    position: relative;
    margin-left: 10px;
    font-size: 60px;
    width: 13%;
    border-radius: 21px;
    background: #ffffffc9;
    height: 94%;
    margin-top: 5px;
}

.btnAdd:hover {
    border: 6px solid yellow;
}

.gridIngredients {
    position: relative;
    MARGIN-LEFT: 395px;
    margin-right: 20px;
    height: 408px;
    width: 2230px;
    background: rgba(25, 24, 23, 0.752);
    border: 2px solid #07070756;
    overflow-x: auto;
    margin-top: 342px;
}
.gridIngredients>ul{
    margin-top: 0px;
    display: inline-flex;
}

.name {
    color: white;
    font-size: 60px;
    width: 100%;
    border-radius: 21px;
    background: transparent;
    height: 100%;
}

.wrapperING>ul {
    margin-top: 89px;
    position: absolute;
    padding: 0;
    list-style-type: none;
}

.Select{
   color: #050505;
    margin-left: 15px;
    position: relative;
    width: 100%px;
    height: 137px;
    font-size: 55px;
    overflow: hidden;
    border-radius: 24px;
}

.wrapper>ul>li {
    padding: 20px;
}

.check {
    margin-left: 4462px;
    align-items: center;
    display: inline-flex;
}
.check> ul {
    display: inline-flex;
    font-size: 37px;
    align-items: center;
    margin-top: 201px;
}
.check> ul >li{
    text-align: center;
}

.chekbox {
    border-radius: 40px;
    margin-top: 40px;
    width: 50px;
    height: 50px;
}