.det111{
  MARGIN-LEFT: 2202px;
  margin-right: 20px;
  height: 1921px;
  width: 2732px;
  /* overflow-y: scroll; */
  border-radius: 17px;
  box-shadow: -10px 10px 25px #100f0f, 10px -10px 25px #050505;
  border: 2px solid #fdd83556;
  /* display: table; */
  overflow-x: visible;
  flex-direction: unset;
  margin-top: 292px;
  } 

  .tableDet{
    font-size: 7rem;
    margin-top: 20px;
  }
  .tableDet> .theadT{
    margin-left: -10px;
  }
  .tableDet >.theadT >th{
    padding: 20px;
  } 
  .tableDet > .theadT > td {
    padding: 10px;
  }
  